<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Doctor</label>
    <select name="appointment[doctor_id]" id="appointment_doctor_id" class="form-control">
      <option value="">Select Doctor</option>
        <% Doctor.all.each do |doctor| %>
          <% if doctor.user.present? %>
            <option value="<%= doctor.id %>">
              <%= doctor.user.get_full_name %>
            </option>
          <% end %>
        <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
