<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

      <%= render partial: "shared/topbar" %>
      <%= render partial: "shared/error" %>
      <!-- Start Contentbar -->
      <main role="main" class="inner cover">
        <%= yield %>

      </main>


      <!-- End Contentbar -->
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
